/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTRUTURA */
html, body {
  height: 100%;
}

body {
  background-color: #F5F5F7;
  color: #2D2D2D;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* CABEÇALHO */
.cabecalho {
  padding: 20px 0;
}

.cabecalho_menu {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.cabecalho_menu_link {
  color: #C06C84;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.cabecalho_menu_link:hover {
  color: #2D2D2D;
}

/* LINHA ANIMADA NO MENU */
.cabecalho_menu_link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #C06C84;
  transition: 0.3s;
}

.cabecalho_menu_link:hover::after {
  width: 100%;
}

/* APRESENTAÇÃO */
.apresentacao {
  padding: 60px 20px;
  text-align: center;
}
.apresentacao_titulo h1{
  font-size: 2.2rem;
  font-weight: 700;
  color: #2D2D2D;
  margin-bottom: 5px;
}
.apresentacao_titulo{
  font-size: 2.2rem;
  font-weight: 700;
  color: #4A4A4A;
  margin-bottom: 5px;
}

.apresentacao_texto {
  max-width: 750px;
  margin: 20px auto 0 auto;
  color: #555;
  font-size: 1.15rem;
  line-height: 1.8;
  text-align: center;
  padding: 0 15px;
  
}
.texto_destaque{
  color: #C06C84;
  font-weight: 600;
  border-bottom: 1px solid #C06C84;
}


/* DESTAQUE DO NOME */
.nome-destaque {
  color: #C06C84;
  font-weight: 700;
  font-size: 1.3em;
}
.destaque_final {
  max-width: 700px;
  margin: 25px auto 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: #C06C84;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
/* SOBRE MIM - FOTO + TEXTO */
.sobre_container {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 900px;
  margin: 20px auto;
}


/* TÍTULOS */
.formacao_titulo,
.projetos_titulo,
.contato_titulo {
   color: #4A4A4A;
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

/* FORMAÇÃO */
.formacao_lista {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.8;
}

.formacao_bloco {
  margin-bottom: 40px;
}

/* PROJETOS */
.projetos {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
  text-align: center;
}

.projetos_titulo {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;

}

.projetos_descricao {
  color: #4A4A4A;
  margin-bottom: 30px;
}

/* CARD DE PROJETO */
.projeto {
  background-color: #FFFFFF;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  text-align: left;
  border: 1px solid #E0E0E0;
  transition: 0.3s;
}

.projeto:hover {
  background-color: #F0F0F5;
  transform: translateY(-4px);
}

.projeto_nome {
  font-size: 1.3rem;
  color: #C06C84;
  margin-bottom: 10px;
}

.projeto_descricao {
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6;
}

/* LINKS */
.projeto_link {
  color: #C06C84;
  text-decoration: none;
  font-weight: 600;
}

.projeto_link:hover {
  text-decoration: underline;
  color: #9A4F63;
}

/* CONTATO */
.contato {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.contato_texto {
  margin-bottom: 25px;
  color: #555;
  font-size: 1.1rem;
}

.contato_lista {
  list-style: none;
  line-height: 2;
}

.contato_lista li {
  margin-bottom: 12px;
}

.contato_lista a {
  color: #C06C84;
  text-decoration: none;
  font-weight: 600;
}

.contato_lista a:hover {
  text-decoration: underline;
}

/* RODAPÉ */
.rodape {
  background-color: #ECECF1;
  color: #777;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #DDD;
}